@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

.logo-text {
    font-family: "Caprasimo", serif;
    font-weight: 200;
}



#hero-section {
    font-family: "Caprasimo", serif;
    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.content-title,
.fruit-name {
  font-family: "Caprasimo", serif;
  font-weight: 600; 
}
